pandas
numpy
matplotlib
seaborn
plotly
wordcloud
itertools
collections
re
unicodedata
nltk
spacy
langdetect
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
torch
transformers
accelerate
bitsandbytes
watermark
